.Contact-component .phone-sec {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px;
  justify-content: center;
}

.Contact-component {
  display: flex;
  flex-direction: column;
  width: auto !important;

  justify-content: center;
}

.Contact-component .phone {
  height: 24px;
  padding-top: 27px;
  padding-right: 4px;
}
.Contact-component .email {
  height: 24px;
  padding-top: 27px;
  padding-right: 4px;
}
.Contact-component .email-head {
  padding: 15px;
  margin: 0;
}
.Contact-component .labels {
  font-size: 24px;
}

.Contact-component .email-head {
  font-size: 27px;
  margin-bottom: 0;
}
.Contact-component h3 {
  text-align: center;
  justify-content: center;
  margin: 0;
}

.Contact-component > h1 {
  font-size: 65px;
  color: #292929bd;
}

.Contact-component .mail {
  border-radius: 10px;
  border: 1px solid #cccaca;
  width: 350px;
  height: 20px;
  font-size: 20px;

  padding-left: 3px;
}

.Contact-component .mail:focus {
  outline: none;
}

.Contact-component .message {
  border-radius: 30px;
  border: 1px solid #cccaca;
  width: 550px;
  height: 300px;
  resize: none;
  padding-left: 22px;
  font-size: 20px;
}

.Contact-component .message:focus {
  outline: none;
}

.Contact-component form {
  text-align: center;
}

#icon {
  font-size: 5vw;
  display: inline-flex;
  color: #f2014b;
  border-style: outset;
  border-radius: 12px;
  border-width: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 1px;
  border-color: gray;
}

@media only screen and (max-width: 862px) {
  .Contact-component .mail {
    border-radius: 10px;
    border: 1px solid #cccaca;
    width: 250px;
    height: 20px;
    font-size: 20px;

    padding-left: 3px;
  }

  .Contact-component .message {
    border-radius: 30px;
    border: 1px solid #cccaca;
    width: 320px;
    height: 200px;
    resize: none;
    padding-left: 22px;
    font-size: 20px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 320px) {
  .Contact-component .message {
    border-radius: 10px;
    border: 1px solid #cccaca;
    width: 290px;
    height: 150px;
    font-size: 20px;

    padding-left: 3px;
  }
  .Contact-component .labels {
    font-size: 15px;
  }
  .Contact-component .email-head {
    font-size: 20px;
    padding: 5px;
  }
  .Contact-component h3 {
    font-size: 12px;
  }
  .Contact-component .about-header {
    font-size: 36px;
  }

  .Contact-component .phone-sec img {
    padding-right: 10px;
    padding-top: 10px;
  }
  .Contact-component #phoneNumDiv {
    margin-right: 28px;
  }
}
