.card {
  display: grid;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  height: 100%;
  align-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}

.card-contents {
  display: grid;
  grid-gap: 5%;
  padding: 100px 50px;
}

.card-contents > img {
  justify-self: center;
}

.header > b {
  color: #404954;
  font-size: 16px;
}

.text {
  color: #a1abb6;
}

@media only screen and (max-width: 862px) {
  .card {
    padding-top: 30px;
  }
}
.wrapper img {
  margin: auto;
}
.header {
  text-align: center;
}
.text {
  text-align: center;
}
.card {
  padding-left: 30px;
  padding-right: 30px;
}
