.admin-section {
  padding: 100px 200px;
  height: 100%;
  box-sizing: border-box;
}

.admin-section_title {
  text-align: center;
  font-size: 45px;
  color: #ff0a55;
  font-weight: 600;
}

.admin-section_form {
  height: 50vh;
  border-radius: 15px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.admin-section_form--header {
  font-size: 24px;
  padding-bottom: 20px;
  color: #606060;
}

.admin-section_form--title,
.admin-section_form--message {
  padding: 30px 0 10px 0;
  font-size: 20px;
}

.admin-section_form--title_input > input,
.admin-section_form--message_input > textarea {
  width: 100%;
  padding: 15px 20px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid #bbbbbb59;
}

.admin-section_form--message_input > textarea {
  height: 20vh;
  resize: vertical;
}

.admin-section_form--send_button > * {
  display: grid;
  /* min-width: 100%; */
  margin: 30px auto;
}

.admin-section_form {
  min-width: 1000px;
}

@media (max-width: 1550px) {
  .admin-section {
    padding: 100px;
  }
}

@media (max-width: 1300px) {
  .admin-section {
    padding: 100px 50px;
  }
}

@media (max-width: 1200px) {
  .admin-section_form {
    padding: 50px 0;
    grid-template-columns: 1fr 1.5fr;
  }
  .admin-section_form--col1 > img {
    max-width: 90%;
  }
}

@media (max-width: 1100px) {
  .admin-section_form--col1 {
    display: none;
  }

  .admin-section_form {
    display: block;
    min-width: auto;
  }
  .admin-section_form--col2 {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .admin-section {
    padding: 100px 30px;
  }
  .admin-section_form--header {
    font-size: 18px;
  }
  .admin-section_form--title,
  .admin-section_form--message {
    font-size: 16px;
  }
}
