.why-section {
  margin: 0px 200px;
  box-sizing: border-box;
  margin-bottom: 8em;
}

.why {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8%;
}

.why-header {
  padding: 50px 0px;
  font-size: 65px;
  color: #292929bd;
}

@media (max-width: 1500px) {
  .why {
    grid-column-gap: 3%;
  }
}

@media (max-width: 1300px) {
  .why-section {
    margin: 0px 150px;
  }
}

@media (max-width: 1000px) {
  .why {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .why-section {
    margin: 0 100px;
  }
  .why {
    display: grid;
    margin: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    max-width: 600px;
  }
  .why-header {
    text-align: center;
    margin-bottom: 0;
    font-size: 57px;
    padding-left: 0;
    color: #292929bd;
  }
}

@media (max-width: 750px) {
  .why-header {
    font-size: 45px;
  }
}

@media (max-width: 500px) {
  .why-section {
    margin: 0 30px;
  }
}

@media (max-width: 400px) {
  .why-header {
    font-size: 35px;
  }
  .header > b {
    font-size: 14px;
  }
  .card-contents > .text {
    font-size: 12px;
  }
  .card-contents > img {
    width: 90px;
    height: 90px;
  }
}
