.Contact-component {
  margin: 0px 200px;
  justify-content: center;
  box-sizing: border-box;
}

.Contact-component > h1 {
  font-size: 65px;
  padding: 50px 0px;
  color: #292929bd;
  margin: 0px;
}

.Contact-component > .contact-body {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: white;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.Contact-component .phone-sec {
  margin: 100px 0 30px 0;
}

.Contact-component .phone-sec,
.Contact-component .email-sec {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  color: #292929bd;
}

.Contact-component .phone-image {
  height: 24px;
}

.Contact-component .email-image {
  height: 18px;
}

.Contact-component .labels {
  font-size: 24px;
  margin: 0px;
}

.sendButton-contactform {
  display: grid;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  justify-content: flex-end;
}

.Contact-component .email-head,
.Contact-component .message-head {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.Contact-component h3 {
  justify-content: center;
  margin: 0;
  line-height: 35px;

  color: #292929bd;
}

.contact-form > form > .email-input {
  border-radius: 30px;
  margin-top: 20px;
  border: 1px solid #cccaca;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
}

.contact-form > form > .message-input {
  border-radius: 30px;
  margin-top: 20px;
  border: 1px solid #cccaca;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  height: 200px;
  box-sizing: border-box;
}

.Contact-component .mail:focus {
  outline: none;
}

.Contact-component .message {
  border-radius: 30px;
  border: 1px solid #cccaca;
  width: 550px;
  height: 300px;
  resize: none;
  padding-left: 22px;
  font-size: 20px;
}

.Contact-component .message:focus {
  outline: none;
}

#icon {
  font-size: 5vw;
  display: inline-flex;
  color: #f2014b;
  border-style: outset;
  border-radius: 12px;
  border-width: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 1px;
  border-color: gray;
}

.thankyou-section {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.thankyou-section .thankyou-section-phone {
  position: relative;
  bottom: -12em;
}

.thankyou-section h1 {
  color: #f2014b;
  font-size: 5em;
  margin-left: 1em;
}

@media (max-width: 1300px) {
  .Contact-component {
    margin: 0 150px;
  }
  .Contact-component > .contact-body {
    margin-top: 50px;
  }
}

@media (max-width: 1205px) {
  .thankyou-section h1 {
    font-size: 4em;
  }
}

@media (max-width: 1100px) {
  .thankyou-section {
    flex-direction: column;
  }

  .thankyou-section h1 {
    order: -1;
    margin-bottom: -2em;
    margin-left: 0;
  }
}

@media (max-width: 1050px) {
  .Contact-component {
    margin: 50px 150px;
  }
  .Contact-component > .contact-body {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .Contact-component .phone-sec {
    margin: 30px 0;
  }
  .Contact-component h3 {
    text-align: center;
  }
  .Contact-component .phone-sec,
  .Contact-component .email-sec {
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  .Contact-component > h1 {
    text-align: center;
  }
  .Contact-component {
    margin: 0 100px;
  }
}

@media (max-width: 750px) {
  .Contact-component > h1 {
    font-size: 45px;
  }
  .Contact-component h3 {
    font-size: 16px;
  }
  .Contact-component .labels {
    font-size: 16px;
  }

  .Contact-component .phone-sec > img {
    width: 20px;
    height: 20px;
  }

  .Contact-component .email-sec > img {
    height: 16px;
  }

  .Contact-component .email-head,
  .Contact-component .message-head {
    font-size: 16px;
  }

  .contact-form > form > .email-input,
  .contact-form > form > .message-input {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .thankyou-section h1 {
    font-size: 2em;
    margin-bottom: -3.5em;
  }

  .thankyou-section h1 img {
    width: 50px;
  }
}

@media (max-width: 500px) {
  .Contact-component {
    margin: 0 30px;
  }

  .Contact-component > .contact-body {
    padding: 20px 10px;
  }
}

@media (max-width: 400px) {
  .Contact-component > h1 {
    font-size: 35px;
  }
}
