.About-component {
  margin: 0px 200px;
  height: 100vh;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8%;
}

.about-header {
  grid-column: 1/4;
  font-size: 65px;
  color: #292929bd;
}

.aboutcard-component {
  /* height: 60vh; */
}

@media only screen and (max-width: 862px) {
  .About-component {
    margin-top: 5%;
  }
  .about {
    display: grid;
    margin: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    max-width: 600px;
  }
  .about-header {
    grid-column: 1/2;
    text-align: center;
    font-size: 57px;
    padding-left: 0;
    color: #292929bd;
  }
}
