.Page1-section {
  margin: 0px 200px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  min-height: calc(100vh - 125px);
  grid-gap: 10%;
}

.title {
  color: #f2014b;
}

.containsTitle {
  display: grid;
  justify-content: flex-end;
  justify-self: flex-end;
  margin-top: -100px;
  width: 700px;
}

.containsTitle h1 {
  font-size: 70px;
  position: static;
}

.homePageImg {
  display: grid;
  justify-self: flex-end;
  /* justify-content: flex-end; */
}

.download-buttons {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  align-items: center;
}

.download-button__playstore > img {
  width: 180px;
  margin-right: 20px;
}

.download-button__appstore > img {
  width: 160px;
}

@media (max-width: 1600px) {
  .containsTitle h1 {
    font-size: 50px;
  }
  .containsTitle {
    width: 500px;
  }
}

@media (max-width: 1300px) {
  .containsTitle {
    width: 400px;
    grid-gap: 5%;
  }
  .Page1-section {
    margin: 0 150px;
  }
}

@media (max-width: 1200px) {
  .download-buttons {
    display: grid;
    grid-template-columns: 1fr;
    width: 250px;
  }
  .download-button__appstore {
    margin-left: 10px;
  }
  .containsTitle h1 {
    font-size: 40px;
    margin-top: 50px;
  }
}

@media (max-width: 1100px) {
  .Page1-section {
    grid-gap: 5%;
  }
}

@media (max-width: 950px) {
  .Page1-section {
    grid-template-columns: 1fr;
    /* justify-content: center; */
  }
  .containsTitle {
    margin: 0;
    justify-self: center;
    text-align: center;
  }
  .download-buttons {
    justify-self: center;
  }
  .download-button__appstore {
    margin-left: -20px;
  }
  .homePageImg {
    justify-self: center;
    margin-top: 50px;
  }
}

@media (max-width: 850px) {
  .Page1-section {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
  }
  .containsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homePageImg {
    box-sizing: border-box;
  }
}

@media (max-width: 750px) {
  .containsTitle h1 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .Page1-section {
    margin: 0 50px;
  }
}

@media (max-width: 500px) {
  .containsTitle {
    width: auto;
  }
  .containsTitle h1 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .download-button__playstore > img {
    width: 140px;
  }
  .download-button__appstore > img {
    width: 125px;
  }
  .homePageImg > img {
    width: 200px;
  }
}
