.Background-component {
  background: url(../../assets/bg.svg) no-repeat;
  background-position: right;
  background-size: cover;
}

@media (max-width: 1100px) {
  .Background-component {
    background: url(../../assets/bg-small.svg) no-repeat;
    background-position: right;
    background-size: cover;
  }
}

@media (max-width: 1000px) {
  .Background-component {
    background: none;
  }
}
