.Contact-component .phone-sec {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px;
  justify-content: center;
}

.Contact-component .phone {
  height: 24px;
  padding-top: 27px;
  padding-right: 4px;
}
.Contact-component .labels {
  font-size: 24px;
  
}

.Contact-component .email-head{
  font-size: 27px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 3px;
}
.Contact-component h3 {
  text-align: center;
}

.Contact-component .mail{
  border-radius: 10px;
  border: 1px solid #cccaca;
  width: 350px;
  height: 20px;
  font-size: 20px;

  padding-left: 3px;
}

.Contact-component .mail:focus{
  outline: none;
 
}


.Contact-component .message{
  border-radius: 30px;
  border: 1px solid #cccaca;
  width: 550px;
  height: 300px;
  resize: none;
  padding-left: 22px;
  font-size: 20px;
}

.Contact-component .message:focus{
  outline: none;
 
}

.Contact-component form{
  text-align: center;
}

@media only screen and (max-width: 862px) {
  .Contact-component .mail{
    border-radius: 10px;
    border: 1px solid #cccaca;
    width: 250px;
    height: 20px;
    font-size: 20px;
  
    padding-left: 3px;
  }
  .Contact-component .message{
    border-radius: 30px;
    border: 1px solid #cccaca;
    width: 320px;
    height: 200px;
    resize: none;
    padding-left: 22px;
    font-size: 20px;
  }
}
