.Contact-component .phone-sec {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px;
  justify-content: center;
}

.Contact-component .phone {
  height: 24px;
  padding-top: 27px;
  padding-right: 4px;
}
.Contact-component p {
  font-size: 24px;
}
.Contact-component h3 {
  text-align: center;
}

.Contact-component .mail{
  border-radius: 10px;
  border: 1px solid #cccaca;
  width: 250px;

  padding-left: 3px;
}

.Contact-component .mail:focus{
  outline: none;
 
}

.Contact-component .message{
  border-radius: 30px;
  border: 1px solid #cccaca;
  width: 250px;
  height: 200px;
  resize: none;
  padding-left: 22px;
}

.Contact-component .message:focus{
  outline: none;
 
}