.Contact-component .phone-sec {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px;
  justify-content: center;
}

.Contact-component .phone {
  height: 24px;
  padding-top: 27px;
  padding-right: 4px;
}
.Contact-component p {
  font-size: 24px;
}
.Contact-component h3 {
  text-align: center;
}
