.team-component {
  margin: 0px 200px;
  margin-bottom: 8em;
}

.team-component > .shadowBox {
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-items: flex-start;
  align-items: center;
  grid-column-gap: 50px;
  padding: 50px 100px;
}

.shadowBox p {
  padding-bottom: 7%;
}

.shadowBox p {
  font-size: 20px;
  color: #939EAB;
  line-height: 35px;
  text-align: justify;
}

.shadowBox .shadowBox-description h3 {
  margin-top: 0%;
  font-size: 40px;
  color: #323c47;
  padding-top: 20px;
}

.shadowBox .shadowBox-description p a {
  text-decoration: none;
  font-weight: 500;
  color: #FF0A55;
}

.shadowBox .alignImg > img {
  width: 450px;
  height: 400px;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.16);
  object-fit: cover;
}

@media (max-width: 1400px) {
  .team-component > .shadowBox {
    grid-column-gap: 30px;
    padding: 50px;
  }
}

@media (max-width: 1300px) {
  .team-component {
    margin: 0 150px;
  }
}

@media (max-width: 1150px) {
  .shadowBox .alignImg > img {
    width: 350px;
    height: 300px;
  }
  .shadowBox p {
    font-size: 17px;
  }
}

@media (max-width: 1050px) {
  .team-component > .shadowBox {
    grid-template-columns: 1fr;
  }

  .team-component > .shadowBox > .shadowBox-description {
    text-align: center;
  }
  .shadowBox .alignImg {
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .team-component {
    margin: 0 100px;
  }

  .shadowBox .shadowBox-description h3 {
    font-size: 30px;
  }
  .shadowBox p {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .shadowBox .alignImg > img {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 200px;
  }
}

@media (max-width: 500px) {
  .team-component {
    margin: 0 50px;
  }
}

@media (max-width: 450px) {
  .shadowBox .alignImg > img {
    max-width: 200px;
    max-height: 150px;
  }
}

@media (max-width: 400px) {
  .shadowBox .shadowBox-description h3 {
    font-size: 25px;
  }
  .shadowBox p {
    font-size: 12px;
  }
  .team-component > .shadowBox {
    padding: 50px 30px;
  }
}
